:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background: #282a36;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: initial;
}

.links a:hover {
  color: var(--color-green);
  transition: color 700ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  width: 300px;
  margin-bottom: 32px;
}
#wrapper h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bolder;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 42px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 500px;
  margin: 0 auto;
  font-style: 24px;
  line-height: 34px;
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
}

/*== CARDS ===*/
.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-color: var(--color-rocket);
}

.card__image-container img {
  width: 100%;
}
.card__content,
.card__info {
  padding: 24px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card__price {
  background-color: var(--color-rocket);
  filter: brightness(85%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/*== MODAL == */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}
.modal .close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/*== MODAL.ACTIVE == */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 6%;
}
